@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  background-color: rgb(36, 87, 189);
  color: rgb(17, 24, 39);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}